
html, body{ 
 margin:0; 
 padding:0; 
 text-align:center;
 /*width: 600px;*/
 /*background: white;*/
}

#pagewidth {
	/*width:78%;*/
	/*width: 700px;*/
	width: 600px;
	text-align:center; 
	margin:0 auto;
	/*background: white;*/
}

#topline {
 position:relative; 
 height:10px; 
 /*background-color:white;*/
 /*width:100%;*/
 width: 600px;
}

#header{
 position:relative; 
 height:55px; 
 /*background-color:#1d80a1;*/
 /*width:100%;*/
 width:600px;
 display:block;
 text-align:left;
 /*overflow:hidden;*/
}

#spaceit {
 position:relative;
 /*top: 5px;*/
 height:1.2em; 
 /*background-color:white;*/
 /*width:100%;*/
 width:600px;
 clear:both;
}

#footer{
 height:4em; 
 /*background: white;*/
 width: 600px;
 /*width: 80%;*/
 clear:both;
 display:block;
 overflow:hidden;
 position: relative;
 margin-left: auto;
 margin-right: auto;

 /*border-style: solid;
 border-width: 1px;
 border-color: white;
 border-top-color: #ccccff;*/
}

.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%; width: 600px;}
.clearfix{display: block;}
/* End hide from IE-mac */  

#radiustest {
	background-color: white;
	color: #1d80a1;
	/*width: 200px;
	height: 38px;*/
	position: relative;
	/*top: 1.6em;
	left: 1.6em;*/
	float: right;
	line-height: 3em;
	text-align:center;

	/*border-radius: 0.5em;
	-moz-border-radius: 0.5em;*/

	height: 2.5em;
	width: 12em;
	-moz-border-radius: 4em 0.8em 4em 0.8em;
	border-radius: 4em 0.9em 4em 0.9em;

	border-style: solid;
	border-width: 1px;
	border-color: #1d80a1;
}

#maincol {
	/*background-color: #FFFFFF;*/
	position: relative;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	text-align: center;
	/*width:100%;*/
	width:600px;
	/*min-width:100%;*/
	min-width: 600px;
	min-height: 40%;
	height: 400px;
	/*height: 600px;*/
	/*background: white;*/
}

#dictionary {
	clear: both;
	position: relative;
	top: 10px;
	display: inline-block;
	text-align: center;
	width: 600px;
	/*width: 50em;*/
	margin-left: auto;
	margin-right: auto;
}

img {
	border-style: none;
}

.headimage {
	cursor: default;
}

#entryform {
	position: relative;
	top: 40px;
	display: inline-block;
	margin-left: auto;
 	margin-right: auto;
	text-align: center;
	width: 600px;
	/*width: 50em;*/
	/*padding: 0.8em;*/
	/*background: white;*/
}

#qbox {
	width:20em;
	height: 2.4em;
	padding: 0.5em 3px;
	position: relative;
	/*display: block;
	margin-left: auto;
 	margin-right: auto;*/
	text-align: center;
	font-size: 1.06em;
	
}

#lookup {
	position: relative;
	left: 1em;
	padding: 0.5em 0.6em;
	font-size: 1.06em;
	font-weight: bold;
}

#extras {
	/*background: white;*/
	/*color: #1d80a1;*/
	font-size: 1.2em;
	font-family:"Arial", Verdana, sans-serif;
	position: relative; /*this is what it's all about!!!*/
	top: 40px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	display:inline-block;
	line-height:34px;
	/*line-height:55px;*/ /* for the love of god don't remove this */

}

/* ******************************************************************** */ 
/*                      printer styles                                  */ 
/* ******************************************************************** */ 
     
 @media print{ 

/*hide the right column when printing*/ 
#rightcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}
